<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mainTemplate.css">
  
</head>
<body>
    <nav>
        <a href="/">Home</a>
        {{!-- <a href="/profile">Profile</a> --}}
<h1>Login</h1>

<form id="login">
    <input type="text" id="login-email" placeholder="email">
    <input type="password" id="login-password" placeholder="password">
    <button>Log in!</button>
</form>

<h1>Sign Up Form</h1>
<form id="signupForm">
    <input type="text" id="signup-email" placeholder="email">
    <input type="text" id="signup-username" placeholder="username">
    <input type="password" id="signup-password" placeholder="password">
    <button>Sign Up</button>
</form>
<script src="/js/signup.js"></script>

        <button id="logoutButton">Log Out</button>
    </nav>
    <div class="body">
    {{{body}}}
    </div>
</body>

<script src="/js/login.js"></script>
<script src="/js/logout.js"></script>
</html>