<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mainTemplate.css">
  
</head>
<body>
    <nav>
        <a href="/">Home</a>
        {{!-- <a href="/profile">Profile</a> --}}
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
        <a href="/api/users/logout">Logout</a>
    </nav>
    <div class="body">
    {{{body}}}
    </div>
</body>
</html>