<h1>Home Page!</h1>
{{#each blogs}}
    <div class="card">
        <a class="link" href="/blogs/{{id}}"><h3>{{name}}</h3></a>
        <h4 class="author">Author:{{User.username}}</h4>
    </div>
{{/each}}