<h1 class="pageHeader">{{username}}</h1>
<div class="cardContainer">
{{#each Blogs}}
    <div class="card">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
    </div>
{{/each}}
</div>
<div>
    <form id="add-blog">
        <input type="text" id="name" placeholder="name"><br>
        <textarea name="description" id="description" cols="100" rows="10"></textarea><br>
        <button>Submit</button>
    </form>
</div>
<script src="/js/addBlog.js"></script>