<h1 class="pageHeader">{{username}}</h1>
<h2 class="pageHeader">Reviews!</h2>
<div class="cardContainer">
{{#each Blogs}}
    <div class="card">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
    </div>
{{/each}}
</div>