
<form id="signup">
    <input type="text" id="signup-email" placeholder="email">
    <input type="text" id="signup-username" placeholder="username">
    <input type="password" id="signup-password" placeholder="password">
    <button>Sign Up</button>
</form>
<script src="/js/signup.js"></script>