* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    background:salmon;
    border-bottom:1px solid black;
}

.pageHeader {
    text-align: center;
}

.cardContainer{
    display: flex;
    flex-wrap:wrap;
    width:80vw;
    margin:0 auto;
}

.card {
    width: 20%;
    border:1px solid blue;
    text-align: center;
}

a.card {
    text-decoration: none;
    color:black;
}

a.card:hover {
    opacity: 0.5;
    background: gray
}

.card > img {
    display: block;
    margin:0 auto;
    
}

.bigImg {
    display: block;
    margin:0 auto;
    width:15vw;
}
